@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 300;
  src: '../fonts/fontawesome-webfont.woff',
}
/*=================================
=            Variables            =
=================================*/

$base-font:		'Lato', sans-serif;
$ico-font:		'FontAwesome';
$font-size:		18px;

$white:			#fff;
$black:			#000;
$base:			#21201f;
$alt:			#777777;
$gray:			#cccccc;

$light:			300;
$normal:		400;
$bold:			700;
$xbold:			800;

$nav-bar-height:	60px;
@import "components/variables";
/*=====  End of Variables  ======*/

/*==============================
=            Mixins            =
==============================*/

@import "mixins/breakpoints";
@import "mixins/clearfix";
@import "mixins/helpers";

/*=====  End of Mixins  ======*/

/*==================================
=            components            =
==================================*/

@import "normalize.scss/normalize.scss";
@import "components/rwd";
@import "components/navigation";
@import "components/grid";
@import "components/buttons";
@import "components/icon";
// @import "components/acordeon";
// @import "components/psd";

/*=====  End of components  ======*/

/*=====================================
=            Plugins style            =
=====================================*/

// @import "components/tabs";
// @import "components/scrollTop";
// @import "components/parallax";
// @import "components/cokies";

/*=====  End of Plugins style  ======*/


/*======================================
=            Global  styles            =
======================================*/

html{
	font-family: $base-font;
	font-size: $font-size;
	color: $black;
}
body{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}
a{
	text-decoration: none;
	color: inherit;
}
*{
	box-sizing: border-box;
}
.wrapper{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	// div:not(.slick-list){
	// 	display: flex;
	// 	flex-wrap:wrap;
	// }
}
.container{
	display: flex;
	justify-content:space-between;
	margin: 0 auto;
	flex-wrap:wrap;
}


@import "pages/main";
@import "pages/addpost";
@import "pages/404";