.add-elem{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	outline: 0;
	h2{
		width: 100%;
	}
	&__input{
		width: 100%;
		margin: 10px 0;
		padding: 10px;
		color: $base;
		resize:none;
	}
	#key{
		text-shadow: 0 0 4px black;
		color:rgba($base, 0);
		user-select: none;
		letter-spacing: 2px;
	}
	textarea.add-elem__input{
		height: 100px;
	}
	.button{
		color: $base;
	}
	.col:last-of-type{
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-end;

	}
}
.preview-post{
	.content__img img{
		opacity: 1;
	}
}