main:first-of-type{
	margin-top: $nav-bar-height;
}

.href{
	&--link{
		&:before{
			content: "\f0c1";
			font-family: $ico-font;
			margin-right: 10px;
			font-size: 30px;
		}
	}
}


.parent{
	&--header{
		background: $base;
		color:$white;
	}
	&--content{
		min-height: 500px;
	}
	&--footer{
		background: $base;
		color:$white;
	}
	&--copyright{

	}
}
.row{

	&--content{
		// padding: 100px 0;
	}
	.content{
		&__wrap{
			width: 100%;
			margin: 0;
			padding: 0;
		}
		&__elem{
			width: 100%;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
			background: lighten($base, 80%);
			&:nth-child(even){
				background: lighten($base, 50%);
				color: $white;
			}
		}
		&__coment{
			// border-left: 1px solid $base;
			position: relative;
			// &:before {
			// 	content: '\f0e6';
			// 	font-family: $ico-font;
			// 	font-size: 80px;
			// 	line-height: 0.5;
			// 	opacity: 0.2;
			// 	position: absolute;
			// 	left: 15px;
			// }
		}
		&__description{
			margin: 30px 0;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			.col--2 > *{
				width: 100%;
			}
			h4{
				position: relative;
				display: inline-block;
				border-top:1px solid $base;
				border-bottom:1px solid $base;
				margin-top: 0;
				padding: 20px 0;
			}
		}
		&__embed{
			align-items: center;
			justify-content: center;
			padding: 0;
			.youtube{
				width: 100%;
				max-width: 700px;
				height: 400px;
				border-width: 0 !important;
			}
			.image_embed{
				display: flex;
				justify-content: center;
				align-items: flex-start;
				img{
					max-width: 60%;
					height: auto;
					transition: .3s;
					opacity: 0;
					margin: 0 auto;
				}
				
			}
		}
	}
	&--footer{
		padding: 0 0 40px;
		font-size: 16px;
		flex-wrap:wrap;
	}
	&--copyright{
		padding: 20px 0;
		.col{
			align-items: center;
			@include media-breakpoint-down( xs) {
				&--2{
					width: 50%;
				}
			}
			&:last-of-type{
				justify-content: flex-end;
				@include media-breakpoint-down( md ) {
					span{
						display: none;
					}	
				}
			}
		}
		.zensite{
			max-height: 30px;
			margin-left: 20px;
		}
	}
}
.cp_embed_wrapper{
	width: 100%;
	min-height: 300px;
}
#alerts{
	position: fixed;
	z-index: 99;
	height: 300px;
	width: 100%;
	top:calc(50% - 150px);
	// display: none;
	transition: .3s;
	display: flex;
	opacity: 0;
	visibility: hidden;
	justify-content: center;
	align-items: center;
	background: red;
	font-size: 50px;
	color: $white;
	&.error{
		background: rgba(red,0.8);
		box-shadow: 0 0 0px 1000px rgba(red,0.3);
		visibility: visible;
		opacity: 1;
	}
	&.success{
		background: rgba(green,0.8);
		box-shadow: 0 0 0px 1000px rgba(green,0.3);
		visibility: visible;
		opacity: 1;
	}
}