.col{
	padding: 0 15px;
	@include media-breakpoint-down (xs) {
		padding:0;
	}
	&--2 {
		width:50%;
		@include media-breakpoint-down (xs) {
			width:100%;
		}
	}
	&--3{
		width: 33.3%;
		@include media-breakpoint-down (xs) {
			width:100%;
		}
	}
	&--4{
		width: 25%;
		@include media-breakpoint-down (xs) {
			width:100%;
		}
	}
	&--1{
		width:100%;
	}
	&--2of3{
		width: 70%;
		@include media-breakpoint-down (xs) {
			width:100%;
		}
	}
	&--1of3{
		width: 30%;
		@include media-breakpoint-down (xs) {
			width:100%;
		}
	}
	&--3of4{
		width: 75%;
		@include media-breakpoint-down (xs) {
			width:100%;
		}
	}
	&--1of4{
		width: 25%;
		@include media-breakpoint-down (xs) {
			width:100%;
		}
	}

}