.ico{
	&:before{
		font-family: $ico-font;
	}
	&--home:before{
		content:"\f015";
	}
	&--add:before{
		content:"\f067";
	}
	&--login:before{
		content:"\f090";
	}
	&--logout:before{
		content:"\f08b";
	}
	&--search:before{
		content:"\f002";
	} 

}