.image{
	&__zoom{
		width:600px;
		height:600px;
		margin:100px;
		box-sizing:border-box;
		overflow:hidden;
		position:relative;
		background: url(http://wallpapercave.com/wp/sgDDtXl.jpg);
		background-size: cover;
		background-position:50% 50%;
		cursor:zoom-in;
		&:hover{
			background-size: 200%;
		}
	}
}