/*===========================================
=            Responsive nav menu            =
===========================================*/
.parent--header{
	position:fixed;
	top:0;
	right: 0;
	left:0;
	min-height: $nav-bar-height;
	z-index: 50;
	.container{
		justify-content: space-between;
		align-items:center;
		flex-wrap: nowrap;
	}
	#m_nav,#m_nav2{
		display:none;
	}
	nav{
		position:fixed;
		background:$base;
		width:100%;
		max-height:0%;
		top:0;
		left:0;
		right:0;
		// bottom:100%;
		text-align:center;
		padding:0px 60px 0;
		z-index:80;
		visibility:hidden;
		overflow:auto;
		transition: all 1s ease;
		display: flex;
		&::-webkit-scrollbar { 
			   display: none; 
		}
		ul{
			margin:0;
			padding:0;
			display: flex;
			justify-content:space-around;
			width:100%;
			flex-wrap:wrap;
			li{
				// width:100%;
				margin:0;
				padding:0;
				cursor:pointer;
				list-style: none;
				a{
					padding: 10px 20px;
					width:100%;
					display: inline-block;
					text-align: center;
				}
				&:last-child{
					padding: 10px 20px;
				}
			}
		}
	}
	#mobile-hamburger{
		display:block;
		position:absolute;
		right:20px;
		top:0px;
		font-size:40px;
		z-index:90;
		cursor:pointer;
		width: 30px;
		height: 30px;
		text-align:center;
		span{
			border-radius: 3px;
			height: 5px;
			width: 100%;
			background: $white;
			box-shadow: 0 0 1px $white;
			position: absolute;
			left:0px;
			right:0px;
			display: inline-block;
			overflow: hidden;
			transition:all 0.3s ease;
			&:first-child,&:last-child{
				visibility:visible;
				width:100%;
				left:50%;
				transform:translateX(-50%);
			}
			&:nth-child(2){
				top: 10px;
				transform:rotate(0deg);
			}
			&:nth-child(3){
				top: 10px;
				transform:rotate(0deg);
			}
			&:last-child{
				top: 20px;
			}
		}
	}
	.header--wrap{
		position:relative;
		width:100%;
		height:100%;
	}
	nav{
		
	}
	#m_nav2[type=checkbox]:checked{
		& ~ nav{
			max-height: 100%;
			// bottom:0;
			visibility:visible;
			padding-top:$nav-bar-height;
		}
		& ~ .header--wrap{
			.fixed{
				position:fixed;
			}
			#mobile-hamburger{
				.fixed{
					width:35px;				
				}
				span{
					&:first-child,&:last-child{
						visibility:hidden;
						top:10px;
						width:0px;
					}
					&:nth-child(2){
						transform: rotate(45deg);
					}
					&:nth-child(3){
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}

.nav--left{
	position:fixed;
	top: 0;
	left: 0;
	bottom: 0;
	// width: 50px;
	background: lighten($base, 10%);
	z-index: 60;
	transition: .5s;
	#m_nav{
		display: none;
	}
	nav{
		height: 100%;
		// padding-top:$nav-bar-height;
		transition: .5s;
	}
	ul{
		margin:0;
		padding: 0;
		li{
			list-style: none;
			margin:20px 0;
			padding: 0;
			overflow: hidden;
			width: 50px;
			display: block;
			a{
				white-space:nowrap;
				width: 200px;
				display: flex;
				align-items: center;
			}
			.ico{
				color:$white;
				&:before{
					display: inline-block;
					font-size: 40px;
					width: 50px;
					text-align: center;
				}
			}
		}
	}
	#arrow{
		display:block;
		position:absolute;
		cursor:pointer;
		width: 30px;
		height: 25px;
		text-align:center;
		bottom: 30px;
		left: 10px;
		span{
			border-radius: 3px;
			height: 5px;
			width: 100%;
			background: $white;
			box-shadow: 0 0 1px $white;
			position: absolute;
			left:0px;
			right:0px;
			display: inline-block;
			overflow: hidden;
			transition:all 0.3s ease;
			&:first-child,&:last-child{
				visibility:visible;
				width:100%;
				// left:50%;
			}
			&:first-child{
				transform:rotate(45deg);
			}
			&:last-child{
				transform:rotate(-45deg);
				bottom: 0;
			}
		}
	}
	#m_nav[type=checkbox]:checked{
		& ~ nav{
			visibility:visible;
			width: 200px;
			li{
				width: 100%;
			}
		}
		& ~ #arrow{
			.fixed{
				width:35px;				
			}
			span{
				&:first-child{
					transform:rotate(-45deg);
				}
				&:last-child{
					transform:rotate(45deg);
				}
			}
		}
	}
}